<a href="https://colab.research.google.com/github/Pavanvarma007/-Pavan_INFO5731_Spring2023/blob/main/in_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
a=input("enter the string : ")
print(len(a))

enter the string : pavan
5

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
from collections import OrderedDict
import numpy as np

n = input("Enter String: ")
d = dict()
for a in n:
 if a in d:
     d[a] = d[a] + 1
 else:
     d[a] = 1

keys = list(d.keys())
values = list(d.values())
sorted_answer = np.argsort(values)
b=reversed(sorted_answer)
sorted_dict = {keys[i]: values[i] for i in b}
 
print(sorted_dict)

Enter String: google.com
{'o': 3, 'g': 2, 'm': 1, 'c': 1, '.': 1, 'e': 1, 'l': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
a = []
total = 0
num = int(input('How many numbers: '))
for i in range(num):
    numbers = int(input('Enter number '))
    a.append(numbers)
for j in range(0, len(a)):
    total = total + a[j]
print("Sum :", total)

How many numbers: 5
Enter number 1
Enter number 2
Enter number 3
Enter number 4
Enter number 5
Sum : 15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
a=input("enter string: ")
b= a[0]
a= a.replace(b, '$')
a = b + a[1:]
print(a)

enter string: restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
a=int(input("Enter a value"))
b=int(input("Enter b value"))
result=3.14*((1+a/b)**3)
print(result)

Enter a value2
Enter b value3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
d4={**d1, **d2, **d3}
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
a = tuple(input('Enter space separated words: ').split())
print(a)
print("a" in a)
print("e" in a)
print("i" in a)
print("n" in a)

Enter space separated words: p a v a n v a r m a
('p', 'a', 'v', 'a', 'n', 'v', 'a', 'r', 'm', 'a')
True
False
False
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
a =[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66]
print(min(a))
print(max(a))

1
66

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random
a=['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
grps=6
grp_size=(len(a)+grps-1)//grps
random.shuffle(a)
grouped_students=[a[i:i+grp_size] for i in range(0, len(a), grp_size)]
for i, group in enumerate(grouped_students):
    print("Group {}: {}".format(i+1, group))

Group 1: ['pr0353', 'ak0956', 'fh0141', 'vb0218', 'kg0569']
Group 2: ['hy0232', 'sm1640', 'sa1198', 'vm0377', 'sg1297']
Group 3: ['ak0934', 'kg0470', 'sk1390', 'jl1252', 'ja0964']
Group 4: ['nm0618', 'sc1229', 'aos0040', 'av0659', 'bg0320']
Group 5: ['sk1458', 'dr0609', 'sm1907', 'ms1500', 'sk1313']
Group 6: ['sk1386', 'sb1357', 'nv0234', 'gn0108', 'ds0814']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
def duplicate(nums):
    a = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in a:
            return nums[i]
        else:
            a.add(nums[i])

    return no_duplicate
print(duplicate([55,66,7,3,55,2,3,7]))
print(duplicate([8,56,0,2,3,4]))
print(duplicate([9,8,9,9,8,8,7,7,7]))

55
-1
9

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
import datetime
year = '1998'
for week in range(53):
    print(datetime.datetime.strptime(year+str(week)+'0', '%Y%W%w'))

1998-01-04 00:00:00
1998-01-11 00:00:00
1998-01-18 00:00:00
1998-01-25 00:00:00
1998-02-01 00:00:00
1998-02-08 00:00:00
1998-02-15 00:00:00
1998-02-22 00:00:00
1998-03-01 00:00:00
1998-03-08 00:00:00
1998-03-15 00:00:00
1998-03-22 00:00:00
1998-03-29 00:00:00
1998-04-05 00:00:00
1998-04-12 00:00:00
1998-04-19 00:00:00
1998-04-26 00:00:00
1998-05-03 00:00:00
1998-05-10 00:00:00
1998-05-17 00:00:00
1998-05-24 00:00:00
1998-05-31 00:00:00
1998-06-07 00:00:00
1998-06-14 00:00:00
1998-06-21 00:00:00
1998-06-28 00:00:00
1998-07-05 00:00:00
1998-07-12 00:00:00
1998-07-19 00:00:00
1998-07-26 00:00:00
1998-08-02 00:00:00
1998-08-09 00:00:00
1998-08-16 00:00:00
1998-08-23 00:00:00
1998-08-30 00:00:00
1998-09-06 00:00:00
1998-09-13 00:00:00
1998-09-20 00:00:00
1998-09-27 00:00:00
1998-10-04 00:00:00
1998-10-11 00:00:00
1998-10-18 00:00:00
1998-10-25 00:00:00
1998-11-01 00:00:00
1998-11-08 00:00:00
1998-11-15 00:00:00
1998-11-22 00:00:00
1998-11-29 00:00:00
1998-12-06 00:00:00
1998-12-13 00:00:00
1998-12-20 00:00:00
1998-12-27 00:00:00
1999-01-03 00:00:00