<a href="https://colab.research.google.com/github/Pavanvarma007/-Pavan_INFO5731_Spring2023/blob/main/info5731_assignment_one_fall2022_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random
numbers = []
for i in range(12):
    numbers.append(random.randint(1, 100))
ascending = sorted(numbers)
descending = sorted(numbers, reverse=True)

print("Ascending order:", ascending)
print("Descending order:", descending)
average = sum(numbers) / len(numbers)

print("Average :", average)

Ascending order: [12, 29, 30, 37, 47, 52, 54, 54, 78, 79, 91, 95]
Descending order: [95, 91, 79, 78, 54, 54, 52, 47, 37, 30, 29, 12]
Average : 54.833333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
import string

input1 = input("Enter sentence 1: ") 
input2 = input("Enter sentence 2: ") 
print()
def split_sentence(sentence):
    result = [] 
    word = '' 

    for char in sentence:
        if char not in string.whitespace:
            if char not in string.ascii_letters + "'":
                if word: 
                        result.append(word)
                result.append(char)
                word = ''
            else:
                word = ''.join([word,char])

        else:
            if word:
                result.append(word)
                word = ''
    return result

list1 = split_sentence(input1)
list2 = split_sentence(input2)

print(f"Splitting input1: {list1}")
print(f"Splitting input2: {list2}")
print()

def compare_words_of_sentence(list1, list2):
     result = []
     for word in list1:
        if word in list2:
            result.append(word)
            
     return result

print(f"Common words in the two lists: {compare_words_of_sentence(list1, list2)}")
print()


def remove_punctuation(list_of_words):
    result = []
    for word in list_of_words:
        if word.strip(string.punctuation):
            result.append(word.strip(string.punctuation))
    return result

list1 = remove_punctuation(list1)
list2 = remove_punctuation(list2)

print(f"Sentence 1 without punctuation: {list1}")
print(f"Sentence 2 without punctuation: {list2}")
print()

def count_vowels(sentence):
    dic = {'a': 0, 'e': 0, 'i':0, 'o':0, 'u': 0}
    for char in sentence.lower():
        if char in 'aeiou':
            if char in dic.keys():
                dic[char] += 1
            else:
                dic[char] = 1
    return dic

print(f"Vowels count in sentence 1: {count_vowels(input1)}")
print(f"Vowels count in sentence 2: {count_vowels(input2)}")

Enter sentence 1: a,b,c
Enter sentence 2: c,b,a

Splitting input1: ['a', ',', 'b', ',']
Splitting input2: ['c', ',', 'b', ',']

Common words in the two lists: [',', 'b', ',']

Sentence 1 without punctuation: ['a', 'b']
Sentence 2 without punctuation: ['c', 'b']

Vowels count in sentence 1: {'a': 1, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
Vowels count in sentence 2: {'a': 1, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
import math 

def volume(radius):
    return ((4/3) * math.pi * pow(radius,3))
print("r", "V", sep="\t")
for i in range(1, 10+1):
    print(i,volume(i), sep='\t')

r	V
1	4.1887902047863905
2	33.510321638291124
3	113.09733552923254
4	268.082573106329
5	523.5987755982989
6	904.7786842338603
7	1436.7550402417319
8	2144.660584850632
9	3053.6280592892786
10	4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:

import pandas as pd

In [ ]:


df = pd.read_csv('Assignment1_denton_housing.csv')
df.shape

(42, 3)

In [ ]:
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [ ]:
df['title_field'].value_counts()

Total Housing Units       7
Vacant Housing Units      7
Occupied Housing Units    7
Owner Occupied            7
Renter Occupied           7
Median Gross Rent         7
Name: title_field, dtype: int64

In [ ]:
print('Difference in the number of Occupied Housing Units from year to year:')
df_new_index = df.set_index('year')
for year in range(2008, 2014):
    difference = df_new_index[df_new_index['title_field']=='Occupied Housing Units']['value'][year] - \
        df_new_index[df_new_index['title_field']=='Occupied Housing Units']['value'][year+1]
    print(f"{year} - {year+1} = {difference}")

Difference in the number of Occupied Housing Units from year to year:
2008 - 2009 = 795
2009 - 2010 = -5091
2010 - 2011 = 303
2011 - 2012 = -1404
2012 - 2013 = -1565
2013 - 2014 = -2622

In [ ]:
print('year', 'Vacant Housing Units', 'Occupied Housing Units', sep='\t')

for year in range(2008, 2015):
    vacant_percent = ((df_new_index[df_new_index['title_field']=='Vacant Housing Units']['value'][year]) / (df_new_index[df_new_index['title_field']=='Total Housing Units']['value'][year]))*100
    occupied_percent = ((df_new_index[df_new_index['title_field']=='Occupied Housing Units']['value'][year]) / (df_new_index[df_new_index['title_field']=='Total Housing Units']['value'][year] ))*100

    print(year, str(vacant_percent)+'%\t\t', str(occupied_percent)+'%', sep='\t')

year	Vacant Housing Units	Occupied Housing Units
2008	10.88265281351653%			89.11734718648347%
2009	9.07111572444872%			90.92888427555128%
2010	8.142556337081672%			91.85744366291833%
2011	9.379522229890688%			90.6204777701093%
2012	6.677600230491346%			93.32239976950866%
2013	8.801787504176412%			91.19821249582358%
2014	5.730110570363885%			94.26988942963611%

In [ ]:

vacant_value = df[df['title_field']=='Vacant Housing Units'][ 'value'].max()
vacant_year = df[(df['title_field']=='Vacant Housing Units') & (df['value']==vacant_value)]['year'].iloc[0]

occupied_value = df[df['title_field']=='Occupied Housing Units'][ 'value'].max()
occupied_year = df[(df['title_field']=='Occupied Housing Units') & (df['value']==occupied_value)]['year'].iloc[0]

print('\t\t', 'Year', 'Value', sep='\t')
print('Vacant Housing Units', vacant_year, vacant_value, sep='\t')
print('Occupied Housing Units', occupied_year, occupied_value, sep='\t')

			Year	Value
Vacant Housing Units	2008	4483
Occupied Housing Units	2014	46295

In [ ]:
sum = 0
length = len(df_new_index[df_new_index['title_field']=='Total Housing Units']['value'])
for year in range(2008,2015):
    sum += 1/( df_new_index[df_new_index['title_field']=='Total Housing Units']['value'][year])
    
print("Harmonic mean of the total housing units: ", (length/sum))

Harmonic mean of the total housing units:  44398.28543969185